<div class="all-blog-posts">
	<h1>Blog</h1>
  <% @blog_posts.each do |blog_post| %>
  <div class="post clearfix">
    <h2 class="clearfix"><span class="right"><%= link_to blog_post.title, blog_post_url(blog_post) %></span><span class="left">Posted on <%= blog_post.created_date %> <% if current_user %> <em><%= blog_post.created_at.strftime("%H:%M:%S") %><em><% end %> </span></h2>
    <div class="excerpt"><%= markdown(blog_post.excerpt) %></div>
  </div>
  <% end %>
</div>