<div id="home_introduce">
<h2>Hi, my name is Jiarong Xu (normally people call me Roger). <br/> I am a full stack web developer at <a href="http://fangohr.com">fangohr, llc</a>, a creative studio in Dumbo, Brooklyn NY. I am from <a target="_blank" href="http://en.wikipedia.org/wiki/Suzhou">Suzhou</a>, China. And now NYC is my second hometown.</h2>

<h2>I am coding in backend and frontend. Ruby on Rails is my favorite for backend, also I did a lot of PHP work based on wordpress and Expressionengine. Recently I am falling love with AngularJS, too.</h2>

</div>

<%= render :partial => "blog_posts/blog_posts" %>

