<h1>Listing links</h1>

<div class="links">

  <% @links.each do |link| %>
    
    <div class="link">
      <h2 class="clearfix"><span class="left"><%= link_to link.title, link.url, :target => "_blank" %></span><span class="right">Posted on <%= link.created_at.strftime("%Y-%m-%d %H:%M:%S") %></span></h2> 
    </div>

  <% end %>

</div>  
<br>

<%= link_to 'New Link', new_link_path %>
