<h1>About Me</h1>

<section class="introduction clearfix">
	<div class="about">
		<h2>Introduction</h2>
		<p></p>
	</div>
	<div class="contact">
		<dl>
			<dt>Name</dt>
			<dd>Jiarong Xu</dd>
			<dt>Email</dt>
			<dd>rongge123@gmail.com</dd>
			<dt>Live in</dt>
			<dd>Brooklyn, NY</dd>
		</dl>
	</div>
</section>

<section class="expeirence">
	<h2>Experience</h2>
	<div class="clearfix entry">
		<div class="left">
			<p>September, 2009 - Current</p>
		</div>
		<div class="right">
			<h3>Fangohr LLC</h3>
			<p>Web Developer</p>

			<p class="entry-content">
				Apply analytical, creative and professional skills to build web-based applications and websites in Ruby on Rails and other web frameworks for clients around the country in industries including information services, retail, healthcare, and fashion. Use Agile software development methodologies to ensure the early and continuous delivery of software. Online portfolio of work can be seen at <a href="http://fangohr.com/work">fangohr.com</a>
				<ul>
					<li>
						Develop various internal and customer-facing web applicatoins based on Ruby on Rails with MySql or PostgreSQL
					</li>
					<li>
						Develop CMS website based on PHP and MySql (Wordpress and Expressionengine sites)
					</li>
					<li>
						Manage Linux servers(Debian or Ubuntu) including company development server and clients web server
					</li>
					<li>Maintain source code repository (git and subversion)</li>
				</ul>

			</p>
		</div>
	</div>

	<div class="clearfix entry">
		<div class="left">
			<p>July, 2009 - November, 2009</p>
		</div>
		<div class="right">
			<h3>Data Search System for Dedalus Consulting, Inc.</h3>
			<p>Web Developer(contract)</p>

			<p class="entry-content">
				<ul>
					<li>
						Developed the front end code using HTML CSS and jQuery/Javascript
					</li>
					<li>
						Developed the backend code based on PHP and MySql and also integrated the customized module into OsCommerce system
					</li>
					<li>
						Design the search system database structure and migrated the exisitng data into the database
					</li>
					<li>
						Created the exported to csv function based on PHP PEAR liberary
					</li>
				</ul>
			</p>
		</div>
	</div>

	<div class="clearfix entry">
		<div class="left">
			<p>July, 2009 - August, 2009</p>
		</div>
		<div class="right">
			<h3>DPB social network site for IG group, Inc.</h3>
			<p>Front End Developer(contract)</p>

			<p class="entry-content">
				<ul>
					<li>
						Developed solid, cross-browser compatible front end code using best practices 
with HTML and CSS, jQuery/Javascript
					</li>
					<li>
						Interactive features include multi-row DHTML forms, AJAX, auto-suggest/complete, term validation, ranking, favorites, introductions and profile pages
					</li>
				</ul>
			</p>
		</div>
	</div>
</section>

<section class="education">
	<h2>Education</h2>
	<div class="clearfix entry">
		<div class="left">
			<p>January , 2008 - June, 2009</p>
		</div>
		<div class="right">
			<h3>Polytechnic Institute of New York University <span>Brooklyn, NY</span></h3>
			<p>Master of Science in Electrical Engineering <span>GPA: 3.71</span></p>
		</div>
	</div>

	<div class="clearfix entry">
		<div class="left">
			<p>July, 2006 - June, 2008</p>
		</div>
		<div class="right">
			<h3>Nanjing University of Science and Technology <span>Nanjing, China</span></h3>
			<p>Master of Science in Optical Engineering <span>GPA: 3.7</span></p>
		</div>
	</div>

	<div class="clearfix entry">
		<div class="left">
			<p>July, 2002 - June, 2006</p>
		</div>
		<div class="right">
			<h3>Nanjing University of Science and Technology <span>Nanjing, China</span></h3>
			<p>Bachelor of Science in Electrical and Optical Information Engineering <span>GPA: 3.7</span></p>
		</div>
	</div>
</section>

<section class="skill">
	<h2>Skills and Expertise</h2>
	<div class="clearfix entry">
		<div class="left">
			<p>Programming Language and Frameworks</p>
		</div>
		<div class="right">
			<p>Ruby, Ruby on Rails, Rspec, HTML5, CSS3, SASS, Javascript/jQuery, Angularjs, PHP, Wordpress, ExpressionEngine</p>
		</div>
		<div class="left">
			<p>System and Software</p>
		</div>
		<div class="right">
			<p>MacOS, Linux(Debian & Ubuntu), Git, Subversion, Firebug, Sublime Text 2, Textmate</p>
		</div>
	</div>
