/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require pygments
 *= require select2
 *= require 'masonry/basic'
 *= require 'masonry/centered'
 *= require 'masonry/fluid'
 *= require 'masonry/gutters'
 *= require 'masonry/infinitescroll'
 *= require 'masonry/right-to-left'
 *= require 'masonry/transitions'
*/
@import "mixin.css.scss";
@import "layout.css.scss";
@import "blog_posts.css.scss";
@import "bootstrap_and_overrides.css.scss";
@import "home.css.scss";

@import "links.css.scss";
@import "photos.css.scss";
@import "static.css.scss";


.content {
  background-color: #fff;
  margin: 0 0px; /* negative indent the amount of the padding to maintain the grid system */
  -webkit-border-radius: 6px 6px 6px 6px;
  -moz-border-radius: 6px 6px 6px 6px;
  border-radius: 6px 6px 6px 6px;
  form{
    padding-top: 20px;
  }
}
.index{
  .content{
    h1{
      border-bottom: 1px solid #ccc;
    }
  }
}

#masonry-container{
  .box{
    margin: 0 5px 5px 0;
    padding-bottom: 4px;
    img{
      width: auto;
      border-radius: 5px;
    }
  }
}
