// Place all the styles related to the blog_posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.blog_posts{
	input[type=text]{
		width: 70%
	}

	.blog-content{
		width: 80%;
		padding: 20px 0;
		margin-top: 20px;
		margin-bottom: 20px;
	}
}

.all-blog-posts{
	h1{
		margin-bottom: 30px;
		width: 80%;
	}
	.post{
		border-bottom: 1px solid black;
		padding-bottom: 20px;
		margin-bottom: 20px;
	}
}